In [1]:
no_bananas=int (input("Enter no of bananas to be purchased: "))
lot1=int(input("What is a size of lot1 that vendor1 provides: "))
price1=int(input("What is a price of lot1: "))
lot2=int(input("What is a size of lot2 that vendor2 provides: "))
price2=int(input("What is a price of lot2: "))

def min_cost(no_bananas, lot1,price1,lot2,price2):
    lot_a=no_bananas/lot1
    print(f'lot_a:{lot_a}')
    
    lot_b=no_bananas/lot2
    print(f'lot_b:{lot_b}')
    cost_a=lot_a*price1
    print(f'cost_a:{cost_a}')
    cost_b=lot_b*price2
    print(f'cost_b:{cost_b}')
    return min(cost_a,cost_b)
min_cost(no_bananas,lot1,price1,lot2,price2)

Enter no of bananas to be purchased:  5
What is a size of lot1 that vendor1 provides:  2
What is a price of lot1:  3
What is a size of lot2 that vendor2 provides:  4
What is a price of lot2:  8

lot_a:2.5
lot_b:1.25
cost_a:7.5
cost_b:10.0

7.5

## Bubble Sort

In [ ]:
'''
Steps of bubble sort
start from the first element and compare it with the next ele
if the first element is greater than the next ,swap them
move to the next pair and repeat
'''

After i passes, the last i elements are already sorted.

We don't need to check them again

So,we run the inner loop only up to n-i-1.

This reduces unnecessory comparisions and efficiency

In [2]:
def bubble_sort(lst):
    n = len(lst)
    for i in range(n-1):
        
        for j in range(n-i-1):
            if lst[j]>lst[j+1]:
                lst[j],lst[j+1]=lst[j+1],lst[j]
    return lst
lst = [5,3,8,4,2]
bubble_sort(lst)

[2, 3, 4, 5, 8]

## Calculate GCD

In [5]:
def gcd(a,b):
    while b:
        a,b = b,a%b # replace a with b and b with remainder
    return a
#input
num1 = int(input("Enter first number:"))
num2 = int (input("Enter second number:"))
#output
ans = gcd(num1,num2)
print(f"GCD of {num1} and {num2} is: {ans}")

Enter first number: 2
Enter second number: 5

GCD of 2 and 5 is: 1

## Find Second Largest Element in an array

In [10]:
#Find Second Largest Element in an array
def second_largest(lst):
    unique_nums=list(set(lst))
    #The list is first converted to a set (set(lst)) to 
    unique_nums.sort(reverse=True)
    #It is then converted back into a list (unique_nums)
    #the sort(reverse=true) method in python sort
    # a list in descending order(from highest to lowest)
    if len(unique_nums)>1:
        return unique_nums[1]
        #however if the list contains only one unique number
        #(e.g [99,99,99] becomes [99] after removing duplicates),
        #there is no second largest element
        
        #If unique nums has only one element,
        #trying to access unique nums[1]
        #To prevent this, len(unique_nums)> 1 is checked,
        #if unique_nums has only one element , the function 
    else:
        return None
lst=[7,8,3,5,1,2,2]
print("second largest element from the array is: ",second_largest(lst))

second largest element from the array is:  7

In [3]:
def bubble_sort(lst):
    n = len(lst)
    for i in range(n-1):
        
        for j in range(n-i-1):
            if lst[j]>lst[j+1]:
                lst[j],lst[j+1]=lst[j+1],lst[j] 
    return lst
lst = [5,3,8,4,2]
bubble_sort(lst)
print(lst[-2])#second largest element
print(lst[1])#second smallest element

5
3

## find second smallest number

In [4]:
#find second smallest number
def second_smallest(lst):
    unique_nums=list(set(lst))
    unique_nums.sort(reverse=False)
    
    if len(unique_nums)>1:
        return unique_nums[1]
    else:
        return None
lst=[5,3,8,4,2]
print("second smallest number:",second_smallest(lst))

second smallest number: 3

In [5]:
#
'''
To identify missing numbers 
the sum of the first n natural numbers is given by:
    s=1+2+3+4+......+n
    expected_sum=n*(n+1)//2
    Example Calculations:
        Lets calculate the sum of the first 5 natural:
        1+2+3+4+5=15
        using expected_sum=n*(n+1)//2=5*6//2=15
        
'''
def missing_num(lst,n):
    expected_num=n*(n+1)//2
    actual_num=sum(lst)
    missing_num=expected_num-actual_num
    return missing_num
lst=[1,2,4,5,6]
n=6
print("Missing number: ",missing_num(lst,n))

Missing number:  3

## Reverse a string without built-in function

In [6]:
#Reverse a string without built-in function

def rev_string(s):
    rev_s=s[::-1]
    return rev_s
s="My name is anthony"
rev_s=rev_string(s)
print(rev_s)
########
rev_string=input("Enter a string: ")[::-1]
print(rev_string)

ynohtna si eman yM

Enter a string:  hello

olleh

## find LCM of Two Numbers

In [ ]:
#find LCM of Two Numbers
num1=int(input('Enter first  number: '))
num2=int(input('Enter second number'))

def gcd(num1,num2):
    while num2!=0:
        num1,num2=num2,num1%num2
    return num1

gcd(num1,num2)
def lcm(num1,num2):
    lcm=abs(num1*num2)/gcd(num1,num2)
    return lcm
lcm(num1,num2)

# Problem Statment

a left rotation operation on an array shifts each of the array's elements units to the left for example, if 2 left rotations are performed on the array[1,4,5,1,2].

In [3]:
def left_rotate(lst,d):
    #Find the Length
    n = len(lst)
    d = d % n #To handle case lines
    left_rot = lst[d:] = lst[:d]
    return left_rot
lst = [1,2,3,4,5]
d = 2
result = left_rotate(lst,d)
print(result)

[1, 2]

In [4]:
def right_rotate(lst,d):
    #find the length
    n=len(lst)
    d=d%n
    right_rot=lst[:d]+lst[d:]
    return right_rot
lst=[1,2,3,4,5]
d=2
result=right_rotate(lst,d)
print(*result)

1 2 3 4 5

Gary is an avid hiker. He tracks his hikes meticulously,
 paying close attention to small details like topography.
 During his last hike, he took exactly n steps. 
 For every step he took, he noted if it was an uphill (U) 
 or a downhill (D) step. Gary’s hikes start and end 
 at sea level.

We define the following terms:

A mountain is a non-empty sequence of consecutive
 steps above sea level, starting with a step up 
 from sea level and ending with a step down to sea level.
 A valley is a non-empty sequence of consecutive
 steps below sea level, starting with a step down 
 from sea level and ending with a step up to sea level.
Given Gary’s sequence of up and down steps 
during his last hike, find and print the number of valleys
 he walked through.

 Gary is hiking, and he records each step as either U (uphill) or D (downhill). He always starts and ends at sea level (0 altitude).

 We need to count the number of valleys he walks through.

What is a valley?
A valley is when:

Gary goes below sea level (altitude becomes negative).
He then comes back to sea level.
Example Walkthrough
Let’s say Gary takes the following 8 steps:
"DDUUUUDD"

In [1]:
#count the valleys:
def count_valleys(n,paths):
    elevation=0 # Starting at sea level
    valley_count=0 #Counter for valleys
    
    for step in paths:
        if step =='U':# going up
           elevation+=1 
           if elevation==0: #IF we just came back 
                            # to sea level , a valley ended
              valley_count+=1 #Why check if elevation == 0?
              #inside if step == 'U' ?
              #A valley is only completed when coming up(U)
              #back to sea level (0).
        else:
            step=='D' #Going down
            elevation-=1 
               
    return valley_count 

# Example Usage
n=8
path="UDDDUDUU"
print("Total Valleys", count_valleys(n,path))

Total Valleys 1