## Fundamentals Of Python

In [1]:
print("Hello")

Hello

#### Data Types

In [3]:
num1=10######->int
num2=5.2#####->float
num3=False####->boolean
num4='xyz'#####->string
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [4]:
x=1
print(x)
print(type(x))

1
<class 'int'>

In [6]:
x=10000000000000000000000000000000
print(x)
print(type(x))

10000000000000000000000000000000
<class 'int'>

In [7]:
age=input('Please enter your age')
print(age)
print(type(age))

Please enter your age 10

10
<class 'str'>

In [13]:
age1=input("Please enter your age")
print(age1)
print(type(age1))

Please enter your age 20

20
<class 'str'>

In [11]:
age2=input("Please enter your age")
print(age2)
print(type(age))

Please enter your age 30

30
<class 'str'>

In [14]:
age = age1+age2
print(age)
##Here it will not perform addition it will concatniate string 1 and string 2

2030

#### Emplicit Type Casting

###### Implicit type casting is when Python automatically converts a smaller data type into a larger data type to prevent data loss.
###### Done automatically by Python
###### No loss of data

In [17]:
num1 = 10    # Integer
num2 = 5.5 # Float

result = num1 + num2  # Python converts int to float
print(result)  # Output: 15.5
print(type(result))  # Output: <class 'float'>
## Here, Python automatically converts num1 (int) to float before performing addition, ensuring no data loss.

15.5
<class 'float'>

#### Explicit Type Casting

###### Explicit type casting (also called type conversion) is when a programmer manually converts one data type into another using built-in functions like int(), float(), str(), etc.
###### Done manually using functions
###### May cause data loss (e.g., float to int)
###### Can convert any type (e.g., str → int, float → int)

In [18]:
# Explicitly converting float to int
num = 5.8
int_num = int(num)  # Converts float to int
print(int_num)  # Output: 5

5

In [19]:
int_num = 100
string_num = '1.5'
float_num = float(int_num) #Convert int into float
print(float_num) #Output:100.0

100.0

In [20]:
float_num = float(string_num)
float_num=float(string_num) #Convert string to float
print(float_num)#Output:1.5

1.5

#### Complex Number

In [21]:
num1 = 1 #int
num2 = 3j #complex
print('num1:',num1,'num2:',num2)
print(type(num1)) #datatype of num1
print(type(num2)) #data type of num2
print(num1.real) #Output: 1
print(num2.imag) #Output:3.0

num1: 1 num2: 3j
<class 'int'>
<class 'complex'>
1
3.0

#### Boolean Values

A Boolean in Python represents one of two values:
✅ True
❌ False

Booleans are a subtype of integers (True is 1, False is 0).

In [22]:
all_ok = True
print(all_ok)
all_ok = False
print(all_ok)
print(type(all_ok))

True
False
<class 'bool'>

In [25]:
#If you enter somthing then it will be true and if you enter anything it will be false as a output.
status = bool(input('ok it is confirmed?:'))
print(status)
print(type(status))

ok it is confirmed?:

False
<class 'bool'>

### Arthimatic operators are used to perform some from of mathematical operation

In [3]:
num1 = 10
num2 = 15
print(num1 + num2)
print(type(10*4))
print(10*4)
print(type(10*4))

25
<class 'int'>
40
<class 'int'>

In [5]:
goals_for = 10
goals_against = 7
print(goals_for-goals_against)
print(type(goals_for-goals_against))

3
<class 'int'>

### Floating values

In [4]:
#Division Operation
print(100/20)
print(type(100/20))

5.0
<class 'float'>

In [2]:
#This operator is reffered to as the floor division.
print(100//20)
print(type(100//20))

5
<class 'int'>

In [5]:
##exponentiation operator
num1 = 5
num2 = 6
print(num1**num2)
#num1 ** num2 means 5 raised to the power of 6 → 5^6
#Calculation:5^6=15625

15625

In [8]:
#None value
#Python has a special type
#the Nonetype,with a single value,none
winner=None
print(winner is None)
#Which we print as true

True

In [10]:
winner=None
print('winner:',winner)
print('winner is None :',winner is not None)
print(type(winner))
#As the winner is not None so it will give False.

winner: None
winner is None : True
<class 'NoneType'>

In [13]:
##Indentation
num = int(input("Enter value of Num:"))
if num>0:
    print("It is num")

Enter value of Num: 5

It is num

In [7]:
num = int(input("Enter the number"))
if num>0:
    print(num)

Enter the number 5

5

Else in an If statment

In [19]:
num = int(input("Enter the value of Num:"))
if num<0:
    print("It is negative")
else:
    print("It is positive")

Enter the value of Num: 6

It is positive

The Use of elif

In [12]:
saving = float(input("Enter how nuch you have in the savings"))
if saving == 0:
    print("No Savings")
elif saving<500:
    print("Well Done")
elif saving<1000:
    print("that a tidy sum")
elif saving<10000:
    print("Welcome Sir")
else:
    print("Thank You")

Enter how nuch you have in the savings 450

Well Done

#### Iterative Looping

while Loop

The while loop exists in almost all programming language and is use to iterate(or repeat)one or more statments
as long as the test condition (expression) is true.

In [14]:
count = 1
while count<=10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

For Loop

loop over a set of values in a range

In [15]:
print("Print out values in range")
for i in range(2,10):
    print(i)
print("Done")
#Here it will give output from 2 to 9 as we have given range.

Print out values in range
2
3
4
5
6
7
8
9
Done

Now use an 'anonymous' loop variable

In [24]:
#it is use to avoid space complexity.
for _ in range(0,10):
    print('.',end = " ")
print()

. . . . . . . . . .

In [23]:
for _ in range(0,10):
    print('.',end = " ")

. . . . . . . . . .

#### Break Loop Statment

In [2]:
print("Only print code if all iterations completed")
num=int(input("Enter the number to check for:"))
for i in range(0,6):
    if i==num:
        break
    print(i,' ',end=" ")

Only print code if all iterations completed

Enter the number to check for: 4

0   1   2   3

In [3]:
#Location of print is changed
for i in range(0,6):
    if i == num:
        break
        print(i," ",end=" ")
        print("Done")

print all odd numbers from the given range list using for loop

In [33]:
#Define the start and end limits of the range.
#Iterate from start till the range in the list using for loop check if num %2!=0.
#If the condition satisfies, then only print the number.

In [35]:
#python progran to print odd Numbers in a given range.
start,end = 4,19

#Iterating each number in list
for num in range(start,end +1):

    #Checking condition
    if num % 2!= 0:
        print(num,end= " ")

5 7 9 11 13 15 17 19

print all even numbers from the given range list using for loop

In [38]:
#python progran to print even Numbers in a given range.
start,end = 4,19

#Iterating each number in list
for num in range(start,end +1):

    #Checking condition
    if num % 2 == 0:
        print(num,end= " ")

4 6 8 10 12 14 16 18

python program to print all even numbers in range for even_numbers in range(4,19,4)

In [42]:
start,end = 4,19
step=4

#Iterating each number in list
for num in range(start,end +1,step):

    #Checking condition
    if num % 2 == 0:
        print(num,end= " ")

4 8 12 16

In [43]:
#when your going to assign single value to multiple variable it will give you error
x,y,z=2,3,4
print(x)
print(y)
print(z)

2
3
4

In [44]:
x,y,z=2
print(x)
print(y)
print(z)
#As we cannot assign single values to multiple variables so it will give you error.

TypeError: cannot unpack non-iterable int object

### Global Variables

A variable which are declared outside a function.

In [7]:
x="awesome"
def my_function():
    print("python is "+x)
my_function()

python is awesome

### Local Varible

A variable which are declared inside a function.

In [11]:
def my_function():
    x = "fantastic"  # Local variable
    print("Python is " + x)
my_function()

Python is fantastic

### Local and Global Variable

In [12]:
x="awsome"            #Global
def my_function():
    x="fantistic"     #Local
    print("python is",x)
my_function()
#when there is globel and local variables,
#Then priority is given to local variable first

python is fantistic

## Getting Datatypes

In [ ]:
#Integer
x=5
print(type(x))

### Range

In [13]:
#Range
x=range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

## Dictionary

In [9]:
#Dictionary
x={"name":"ram","age":22}
print(x)
print(type(x))

{'name': 'ram', 'age': 22}
<class 'dict'>

### Assigning Values

In [10]:
#Assigning values
x=1
z=float(x)
print(z)

1.0

### String Concateness

In [13]:
x="Hello"  #String
y="World"  #String
print(x+y) 
#It will concatnet strings

HelloWorld

In [12]:
x = 7        #Integer
y = "Hello"  #String
print(x+y)  
#Here we cannot concat string and interger.
#Here we will get error:can only concatenate str(not"int")to integer

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
#String Format.
string1="Hello"
string2=5
#print(string1 + string2)
#it will generat error

print(f"Hello{string2}")
#f-strings (f"") automatically convert non-string values (like integers) into strings before inserting them into the final string.
#No need for str() conversion manually.

##usually here in order to concatnet int and string we can do this

Hello5

In [20]:
quantity = 3
item_no = 54
price = 67
print(f"I want {quantity} price and item number {item_no},its price is {price}")

I want 3 price and item number 54,its price is 67

In [24]:
my_order="I want {} pieces and item number is {},its price is {}"
print(my_order.format(quantity,item_no,price))#my_order is a string with placeholders {0}, {1}, and {2}.
#The format method replaces these placeholders with the provided values:
#0-->3
#1-->54
#2-->67

I want 3 pieces and item number is 54,its price is 67

In [23]:
my_order = 3
item_no = 54
price = 67
my_order = "I want {0} items and its number is {1},its price is {2}"
print(my_order.format(quantity,item_no,price))
#This code is useful when you want to display dynamic information in a formatted string.

I want 3 items and its number is 54,its price is 67

In [26]:
#embided quoted statements
#The escape character allows you to use double quotes when you want to use quotes within quotes
text="This is the fun fair and it has got big "round rigo""
print(text)
#It will show you an error.

SyntaxError: invalid syntax (1181638727.py, line 3)

In [25]:
#embided quoted statements
#The escape character allows you to use double quotes when you want to use quotes within quotes
text="This is the fun fair and it has got big \"round rigo\""
#The \" is an escape sequence that allows you to include double quotes (") inside a string without causing syntax errors.
#The string inside text contains a quoted phrase: "round rigo".
print(text)

This is the fun fair and it has got big "round rigo"

## String

In [17]:
#if you want multiple strings
x="""This is python.It is powerful"""
print(x)

This is python.It is powerful

### String Slicing

#### Poistive Indexing

In [2]:
x="""This is python.It is powerful"""
print(x[8])#it will give letter at position 8

p

In [18]:
x="""This is python.It is powerful"""
print(x[2:8])#it will start from index 2 to 7

is is

In [19]:
#sliceing from the start
x="""This is python.It is powerful"""
print(x[:3])#it will give first 3 letters.

Thi

In [26]:
#slicing from the end
x="""This is python.It is powerful"""
print(x[-2:])#it will give last 2 letters

ul

#### Negative Indexing

In [1]:
#negative indexing
x="""This is python.It is powerful"""
print(x[-2])#it will give letters at index -2
prient[(-5)]#it will give letter at index -5

u

In [4]:
s="python"
print(s[::-1])#It will reverse the string

nohtyp

In [7]:
s="python"
print(s[-2:-6:-1])#Moves backword

ohty

### Modify String

In [30]:
x="""This is python.It is powerful"""
print(x.upper())#It will convert all small letter to upper case
#It there is capital letters it will be capital only

THIS IS PYTHON.IT IS POWERFUL

In [31]:
x="""This is python.It is powerful"""
print(x.lower())

this is python.it is powerful

### Remove Space

strip()

In [32]:
x=" This is python "
print(x.strip())#only remove white space of left hand side

This is python

rstrip()

In [34]:
x="This is Python "
print(x.rstrip())#it is going to remove right handside white space

This is Python

lstrip()

In [35]:
x=" This is Python"
print(x.lstrip())#it is going to remove left handside white space

This is Python

replace()

In [36]:
#Replace particular word with another word
x="Hello World"
print(x.replace("Hello","Gello"))

Gello World

In [37]:
#use of split which replace white space/or,
x="Hello World"
print(x)
print(x.split(" ")) #separator is space
x="red-green-blue"
print(x.split("-")) #separator is Hypen
x="""This is python.It is simple to understand.Difficult to implement"""
print(x.split("."))

Hello World
['Hello', 'World']
['red', 'green', 'blue']
['This is python', 'It is simple to understand', 'Difficult to implement']

### Operator Precedence

In [29]:
print(3*3+3/3-3)
#Multiplication-->3*3=9
#Division-->3/3=1
#Addition-->9+1=10
#Substraction-->10-3=7

'''Rules for methemethical operations
    PEMDAS
    p:paranthesis
    E:Exponential
    M:Multiplication
    D:Division
    A:Addition
    S:Substraction
'''

7.0

'Rules for methemethical operations\n    PEMDAS\n    p:paranthesis\n    E:Exponential\n    M:Multiplication\n    D:Division\n    A:Addition\n    S:Substraction\n'

In [30]:
#Identiy operators
a=2
b=5
print(a is b)
print(a is not b)

False
True

# List

In [1]:
#Python list
lst=["cherry","banana","apple"]
print(lst)

['cherry', 'banana', 'apple']

In [2]:
#list item are indexed,the first item has index[0], the second item has index[2]
print(lst[0])
print(lst[2])

cherry
apple

In [4]:
##append() Adds an element at the end of the list
lst=["cherry","banana","apple"]
lst.append("mango")
print(lst)

['cherry', 'banana', 'apple', 'mango']

In [6]:
#clear() removes all the elem ent from the list
lst = ["cherry","banana","apple"]
lst.clear()
print(lst)

[]

In [7]:
#copy () method coppies the element from one list to other
lst = ["cherry","Banana","apple"]
lst2 = lst.copy()
print(lst2)

['cherry', 'Banana', 'apple']

In [8]:
#count() Returns the number of element how many times it has been repeated.
lst = ["cherry","Banana","apple"]
lst.count("cherry")

1

In [9]:
#extend() Add the elements from one list to other list at the end
lst = [1,2,3]
lst1 = [4,5,6]
lst.extend(lst1)
print(lst)

[1, 2, 3, 4, 5, 6]

In [10]:
#insert() inserts the value at the specific position
lst = ["cherry","Banana","apple"]
lst.insert(1,"Mango")
print(lst)

['cherry', 'Mango', 'Banana', 'apple']

In [11]:
#Pop() removes the element from specified position
lst = ["cherry","Banana","Apple"]
lst.pop(2)
print(lst)

['cherry', 'Banana']

In [12]:
#remove() removes ithe item with the specified value
lst = ["Cherry","Banana","Apple"]
lst.remove("Apple")
print(lst)

['Cherry', 'Banana']

In [13]:
#reverse() reverse the items present in the list
lst = ["Cherry","Banana","Apple"]
lst.reverse()
print(lst)

['apple', 'Banana', 'cherry']

In [16]:
#sort() Sort the list aplhabetically
lst = ["Cherry","Banana","Apple"]
lst.sort()
print(lst)

['Apple', 'Banana', 'Cherry']

In [20]:
lst = [40,200,120,100]
lst=sorted(lst,key = int)
lst.sort()
print(lst)

[40, 100, 120, 200]

In [2]:
#Creating the Nested List
nested_list = [[1,2,3],["a","b","c"],[True,False]]
print(nested_list)

#Accessing Elemnet in inner List
print(nested_list[0][2])#Index 0 in that index 2

[[1, 2, 3], ['a', 'b', 'c'], [True, False]]
3

In [3]:
#Accessing the first inner list
print(nested_list[0])

[1, 2, 3]

In [4]:
#Accessing specific element in from the sublist
print(nested_list[0])

[1, 2, 3]

In [5]:
#Accessing the last element in the sublist
print(nested_list[1][2])

c

In [7]:
#Accessing the Last element from the last sublist
print(nested_list[2][1])

False

In [8]:
for sublist in nested_list:
    print(sublist)

[1, 2, 3]
['a', 'b', 'c']
[True, False]

## List Comphrension

In [11]:
#Using two for loops(Iterate over element)
for sublist in nested_list:
    for item in sublist:
        print(item,end = " ")

1 2 3 a b c True False

In [19]:
#List Compherension with Nested Lists
#Flattening of List
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 'a', 'c', True, False, 'new', 'List']

In [13]:
#Adding an Entire Sublist
nested_list = [[1,2,3],["a","b","c"],[True,False]]
nested_list.append(["new","List"])
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False], ['new', 'List']]

In [15]:
#Adding an element in sublist
nested_list[0].append(4)
print(nested_list)

[[1, 2, 3, 4], ['a', 'b', 'c'], [True, False], ['new', 'List']]

In [17]:
#Removing an Element from a sublist
nested_list[1].remove('b')
print(nested_list)

[[1, 2, 3, 4], ['a', 'c'], [True, False], ['new', 'List']]

# Tuple

In [14]:
tup = ("Cherry","Banana","Apple")
print(tup)

('Cherry', 'Banana', 'Apple')

In [15]:
print(tup[2])

Apple

once a tuple is created you cannot change its value

As tuple is immutable--->to be mutable change tuple into list

In [17]:
x = ("Cherry","Banana","Apple")
y = list(x)
print(y)

['Cherry', 'Banana', 'Apple']

In [26]:
#replace element in the Tuple.
#AS we cannot use replace method direct so firt convert tuple to list
x = ("Cherry","Banana","Apple")
print(x)
print(id(x))
#convert tuple to list
y = list(x)
y[1] = "Kiwi"
#convert list to tuple
x = tuple(y)
print(x)
print(id(x))

('Cherry', 'Banana', 'Apple')
1975291382144
('Cherry', 'Kiwi', 'Apple')
1975291514560

In [2]:
#Tuple can have different Data Types
x = ("cherry",2,"apple")
print(x)

('cherry', 2, 'apple')

In [27]:
#You can access tuple items by refering to the index number,inside subtuple
x = ("apple","banana","cherry")
print(x[1])

banana

In [4]:
#To join two or more tuple you can use + operator
tup1 = ("a","b","c")
tup2 = (1,2,3)
tup3 = tup1 + tup2
print(tup3)

('a', 'b', 'c', 1, 2, 3)

# Dictionary

Disctionary is mutable -->you can modify it

In [5]:
dict1={"Brand":"Maruti","Model":"2345","Year":"2001"}
print(dict1)
print(len(dict1))
print(type(dict1))

{'Brand': 'Maruti', 'Model': '2345', 'Year': '2001'}
3
<class 'dict'>

In [29]:
dict1={"Brand":["Maruti","Mehindra","Toyato"],
       "Model":["a","b","c"],
       "year":[2001,2002,2003]}
print(dict1)

{'Brand': ['Maruti', 'Mehindra', 'Toyato'], 'Model': ['a', 'b', 'c'], 'year': [2001, 2002, 2003]}

In [31]:
#get() displays keys and value
dict1={"Brand":"Maruti","Model":"2345","Year":"2001"} 
dict1.get("Model")
dict1.keys()

dict_keys(['Brand', 'Model', 'Year'])

In [8]:
dict1={"Brand":"Maruti","Model":"2345","Year":"2001"} 
dict1.get("model")
dict1.values()

dict_values(['Maruti', '2345', '2001'])

In [2]:
#adding data items in dictionary
car={
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
x=car.keys()
print(x)
print(id(car))
#Adding data
car["color"]="white"
x=car.keys()
print(x)
print(id(x))
car

dict_keys(['brand', 'model', 'year'])
2080885865408
dict_keys(['brand', 'model', 'year', 'color'])
2080884890576

{'brand': 'ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [5]:
#Accessing values in the dictionary
car={
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
for x in car:
    print(car[x])

ford
Mustang
1964

In [5]:
#Accessing values in the dictionary
car={
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
for x in car:
    print(car[x])

#It you want to access both keys and values
#very important
for key,value in car.items():
    print("%s=%s"%(key,value))
for key,value in car.items():
    print(f"{key}:{value}")

ford
Mustang
1964
brand=ford
model=Mustang
year=1964
brand:ford
model:Mustang
year:1964

In [8]:
#copying dictionary
car = {
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
print(id(car))
car2 = car.copy()
car2
print(id(car2))

2080885877184
2080885866816

In [14]:
#Another way to make copy is to use the built in function
thisdict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(id(thisdict))
dict1 = dict(thisdict)
print(dict1)
print(id(dict1))

2080885882688
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
2080885892224

In [15]:
#A Dictionary can contain dicyionaries,
#This is called nested dictionaries.
our_family = {
    "child1": {
        "Name": "Ram",
        "Dob": "21-01-2008"
    }
}
our_family

{'child1': {'Name': 'Ram', 'Dob': '21-01-2008'}}

In [16]:
#Dictionary methods
#clear():Remove all element from the car list
car = {
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
car.clear()
car

{}

In [17]:
#fromkey()
#create a dictionary with 3 keys,
#all with the value 0
x = {'key1','key2','key3'}
y = 0
thisdict = dict.fromkeys(x,y)
thisdict

{'key3': 0, 'key2': 0, 'key1': 0}

In [18]:
#get() :To get the value of Dictionary
car = {
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
car.get("model")

'Mustang'

In [19]:
#Items() Return the dictionary's key-value pairs
car = {
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
car.items()

dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 1964)])

In [20]:
#Pop the key value pair.
car = {
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
car.pop("model")
car

{'brand': 'ford', 'year': 1964}

In [21]:
#values():display all the values of the dictionary
car = {
     "brand":"ford",
     "model":"Mustang",
     "year":1964}
car.values()

dict_values(['ford', 'Mustang', 1964])

In [1]:
#merging two dictionaries
dict1={"one":1,"two":2}
dict2={"three":3,"four":4}
dict3=dict1|dict2 #We use | operator to concatnet.
dict3

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [7]:
#sort by Keys
d = {"b":2,"a":5,"c":1}
d.items()
sort_value = dict(sorted(d.items(),key = lambda item : item[1]))
print(sort_value)

{'c': 1, 'b': 2, 'a': 5}

In [9]:
#Sort by values
d = {"b":2,"a":5,"c":1}
d.items()
sort_value = dict(sorted(d.items(),key = lambda item :item[1]))
print(sort_value)

{'c': 1, 'b': 2, 'a': 5}

In [10]:
sorted_dict = {'banana':40,'apple':100,'grapes':120,'manago':200}
free_item_key= min(sorted_dict, key=sorted_dict.get)
free_item_value= sorted_dict[free_item_key]
print(f"You will get the lowest priced item'{free_item_key}' ({free_item_value})")

free_item_min=min(sorted_dict,key=sorted_dict.get)
print(free_item_min)

You will get the lowest priced item'banana' (40)
banana

In [11]:
sorted_dict={'banana':40,'apple':100,'grapes':120,'manago':200}
free_item_key= max(sorted_dict, key=sorted_dict.get)
free_item_value= sorted_dict[free_item_key]
print(f"You will get the highest priced item'{free_item_key}' ({free_item_value})")

You will get the highest priced item'manago' (200)

In [ ]:
#min(my_dict):Returns the minimum key.
#min(my_dict):Returns the minimum value.
#min(my_dict, key=my_dict.get):Returns the key corresponding to the minimum values

In [12]:
#adding values of dictionary 
dict1={'apple':'100', 'grapes':'120','mango':'200','banana':'40'}
sum=0
for value in dict1.values():
    sum=sum+int(value);
print(sum)

460

In [1]:
#Convert values to  integers and sum them up
dict1={'apple':'100', 'grapes':'120','mango':'200','banana':'40'}
 
total_sum = sum(int(value) for value in dict1.values())
print(total_sum)

460

In [16]:
#concatenation of dictionary
dict1={1:10,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60}
dict1.update(dict2)
print(dict1)
dict1=dict1|dict2|dict3
print(dict1)

{1: 10, 2: 20, 3: 30, 4: 40}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [17]:
#write a program to check if a given key is already exists
dict1={'a':20,'b':30}
print('a' in dict1)

True

In [18]:
#write the break statement we can stop the loop if the while 
i=1
while i<6:
    print(i)
    if(i==3):
        break
    i=i+1
    
#suppose you are selling milk 100 liters and there is queue of customers 
#the moment sell reaches to 100 liters, you need to inform to the customer
#that the milk is finished

1
2
3

In [19]:
#Continue to the next iteration if i is 3
i=1
while i<6:
    i=i+1
    if(i==3):
        continue
    print(i)

#Suppose you are standing in queue to auditorium , where students and
#professors are in queue , if the peofessors are there you are allowing
#without checking , but if there is student then he/she is being checked

2
4
5
6

In [20]:
#use of break statement
fruits=["apple","banana","orange"]
for i in fruits:
    print(i)
    if (i=="banana"):
        break

apple
banana

In [21]:
fruits=["Apple","Banana","Orange"]
for i in fruits:
    if i=="Banana":
        break
    print(i)

Apple

In [ ]:
#Continue statment
fruits=["apple","banana","cherry"]
for x in fruits:
    if x=="banana":
        continue
    print(x)
    
    #initially it will take x=0
    #which is apple , check s condition
    #print apple
    #second time x=1, checks the
    #condition and continue to the next element

In [22]:
#The range() function
for x in range(6):
    print(x)

0
1
2
3
4
5

In [23]:
for x in range(2,6):
    print(x)

2
3
4
5

In [24]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [28]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [29]:
#A nested loop is a loop inside a loop
#the 'inner loop' wiil be executed one time for each iteration 
colors=["green","yellow","red"]
fruits=["guava","banana","apple"]
for x in colors:
    for y in fruits:
        print(x,y)

green guava
green banana
green apple
yellow guava
yellow banana
yellow apple
red guava
red banana
red apple

# Function

In [13]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [15]:
def my_function(name):
    print("Hello"+name)
my_function("Ram")

HelloRam

In [16]:
def my_function(name1,name2):
    print(name1+" "+name2)
my_function("World","Hello")

World Hello

In [19]:
#Arbitrary Argument,(*args)
#We will use the Arbitary argument when no of arguments are not known.
#if you do not know how many argument that will be passed in the function
#add a *before the parameter name
#The function defination
def my_function(*args):
    print(args[0]+" "+args[2])
my_function("Hello","World","India")

Hello India

In [21]:
#kwargs(**kwargs)
#Kwargs-->it is a keywords
#It is used for Dictionary(key,value)
def my_function(**kwargs):
    for key,value in kwargs.items():
        print("%s = %s" %(key,value))
my_function(first = "Ishwari",mid = "Chintaman",last = "Deshmukh")

first = Ishwari
mid = Chintaman
last = Deshmukh

In [22]:
#Default Argument Function
#If we call the function without argument
#The following example shows how to use a default argument
def my_function(country = "Norway"):
    print("I an from " + country)
my_function("Swedon")
my_function("India")
my_function()
my_function("Brazil")

I an from Swedon
I an from India
I an from Norway
I an from Brazil

In [24]:
#Passing List as a argument
#E.g if you send a List as an argument it will still be list.
#you can send any data types of argument to the function ("String","List"....)
fruits = ["Orange","Banana","Guava"]
def my_function(fruits):
    for x in fruits:
        print(x)
my_function(fruits)

Orange
Banana
Guava

In [26]:
#Return values
#To let a function return a value,use the return statment
def my_function(x):
    y=x*5
    return y
my_function(5)

25

In [27]:
#You can return multiple value once in a tuple
def my_function(x):
    y = x*5
    z = x*7
    return y,z
my_function(5)

(25, 35)

In [30]:
#Pass Function
def my_function1():
    pass
my_function()
#Having an empyt function defination(No business Logic)
#Like this it would not raise an error
#advantage -it will execute pass without any errir

In [32]:
#Recursive Function
#Factorial of the number is the product of all the integer
#From 1 to that number. For example the factorial of 1 to that perticular number.
def factorial(x):
    if x == 1:
        return 1
    else:
        return(x*factorial(x-1))
factorial(3)
factorial(6)

720

In [35]:
#Lamda Function
#A lamda function is a small
#anonymous function.
#A lamda function can take any number of arguments,
#but can only have one expression
def add(a):
    sum = a + 10
    return sum
add(20)
#Lamda function
add = lambda a:a+10
print(add(20))

30

In [36]:
#lambda function can take any number of arguments:
add=lambda a,b:a+b
print(add(5,6))

11

In [40]:
#Finding out odd numbers by using filter and Lambda
#Filter-->it is going to take argument,filter and function
#Filters are used for iterators(Dict,list,tuple)
lst = [34,12,64,55,75,13,63]
odd_lst = list(filter(lambda x:(x %2 != 0),lst))
print(odd_lst)

[55, 75, 13, 63]

In [41]:
#Lambda and filter function
#Finding out even numbers by using filter and Lambda
lst = [34,12,64,55,75,13,63]
even_lst = list(filter(lambda x:(x %2 == 0),lst))
print(even_lst)

[34, 12, 64]

In [47]:
#Map function
#Finding square root of all numbers using map function
lst = [1,2,3,4,5,6,7,8,9,10]
square_lst = list(map(lambda x:(x**2),lst))
print(square_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]