In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("c:/3-statistics/bigmartsales.csv")

In [5]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
df[['Item_MRP','Item_Outlet_Sales']].mean()

Item_MRP              140.992782
Item_Outlet_Sales    2181.288914
dtype: float64

In [8]:
df[['Item_MRP','Item_Outlet_Sales']].median()
#means and median are almost equal.

Item_MRP              143.0128
Item_Outlet_Sales    1794.3310
dtype: float64

In [9]:
df[['Item_MRP','Item_Outlet_Sales']].mode()

   Item_MRP  Item_Outlet_Sales
0  172.0422            958.752

In [10]:
df[['Item_MRP','Item_Outlet_Sales']].std()

Item_MRP               62.275067
Item_Outlet_Sales    1706.499616
dtype: float64

In [11]:
round(df[['Item_MRP','Item_Outlet_Sales']].var(),2)

Item_MRP                3878.18
Item_Outlet_Sales    2912140.94
dtype: float64

In [12]:
from scipy.stats import iqr
iqr(df[['Item_MRP','Item_Outlet_Sales']],axis=0)
#0 for rows and 1 for column.

array([  91.8172, 2267.049 ])

In [13]:
from scipy.stats import skew,kurtosis

In [14]:
#2nd business decision-->calculation of S.D and varience.
#3nd business decision-->calculation of Skewness.
#4nd business decision-->calculation of kurtosis.
kurtosis(df['Item_Outlet_Sales'],fisher=True)

1.6142249915903424

In [15]:
skew(df['Item_Outlet_Sales'])

1.177323353967637

In [18]:
#Z-score
from scipy.stats import zscore
z=np.abs(zscore(df[['Item_MRP','Item_Outlet_Sales']]))